<div class="form-content">
    <form class="form" (ngSubmit)="submit()">

        <div class="form-head">
            Employee Payroll Form
        </div>

        <!-------Input Name--------->
        <div class="row-content">
            <label class="label text" for="name">Name</label>
            <input class="input" type="text" id="name" name="empName" placeholder="Your name" [(ngModel)]="employeeData.empName" required>
            <!-- <error-output class="text-error" for="text"></error-output> -->
        </div>

        <!------Profile image---------->
        <div class="row-content">
            <label class="label text" for="profile">Profile Image</label>
            <div class="profile-radio-content">
                <label>
                    <input type="radio" id="profile1" name="profilePic" value="../assets/profile-images/Ellipse -3.png" [(ngModel)]="employeeData.profilePic">
                    <img class="profile" id="image1" src="../assets/profile-images/Ellipse -3.png">
                </label>
                <label>
                    <input type="radio" id="profile2" name="profilePic" value="../assets/profile-images/Ellipse 1.png" [(ngModel)]="employeeData.profilePic">
                    <img class="profile" id="image2" src="../assets/profile-images/Ellipse 1.png">
                </label>
                <label>
                    <input type="radio" id="profile3" name="profilePic" value="../assets/profile-images/Ellipse -8.png" [(ngModel)]="employeeData.profilePic">
                    <img class="profile" id="image3" src="../assets/profile-images/Ellipse -8.png">
                </label>
                <label>
                    <input type="radio" id="profile4" name="profilePic" value="../assets/profile-images/Ellipse -7.png" [(ngModel)]="employeeData.profilePic">
                    <img class="profile" id="image4" src="../assets/profile-images/Ellipse -7.png">
                </label>
            </div>
        </div>

        <!-----Input Gender--------->
        <div class="row-content">
            <label class="label text" for="gender">Gender</label>
            <div>
                <input type="radio" id="male" name="empGender" value="Male" [(ngModel)]="employeeData.empGender">
                <label class="text" for="male">Male</label>
                <input type="radio" id="female" name="empGender" value="Female" [(ngModel)]="employeeData.empGender">
                <label class="text" for="female">Female</label>
            </div>
        </div>

        <!------Input Department------->
        <div class="row-content">
            <label class="label text" for="department">Department</label>
            <div>
                <input class="checkbox" type="checkbox" id="hr" name="department" value="HR">
                <label class="text" for="hr">HR</label>
                <input class="checkbox" type="checkbox" id="sales" name="department" value="Sales">
                <label class="text" for="sales">Sales</label>
                <input class="checkbox" type="checkbox" id="finance" name="department" value="Finance">
                <label class="text" for="finance">Finance</label>
                <input class="checkbox" type="checkbox" id="engineer" name="department" value="Engineer">
                <label class="text" for="engineer">Engineer</label>
                <input class="checkbox" type="checkbox" id="others" name="department" value="Others">
                <label class="text" for="others">Others</label>
            </div>
        </div>

        <!-----Input Salary------>
        <div class="row-content">
            <label class="label text" for="salary">Choose Your Salary</label>
            <!-- <input class="input" type="range" name="salary" id="salary" min="300000" max="5000000" step="100" value="4000000" required> -->
            <!-- <output class="salary-output" for="salary">4000000</output> -->
            <mat-slider thumbLabel [displayWith]="formatLabel" step="100" min="300000" max="5000000" aria-label="units"
                                    [(ngModel)]="employeeData.empSalary">
            </mat-slider>
        </div>

        <!----Input Date----->
        <div class="row-content">
            <label class="label text" for="startDate">Start Date</label>
            <div id="date">
                <select id="day" name="Day">
                    <option value="Day">Day</option>
                    <option value='01'>01</option>
                    <option value='02'>02</option>
                    <option value='03'>03</option>
                    <option value='04'>04</option>
                    <option value='05'>05</option>
                    <option value='06'>06</option>
                    <option value='07'>07</option>
                    <option value='08'>08</option>
                    <option value='09'>09</option>
                    <option value='10'>10</option>
                    <option value='11'>11</option>
                    <option value='12'>12</option>
                    <option value='13'>13</option>
                    <option value='14'>14</option>
                    <option value='15'>15</option>
                    <option value='16'>16</option>
                    <option value='17'>17</option>
                    <option value='18'>18</option>
                    <option value='19'>19</option>
                    <option value='20'>20</option>
                    <option value='21'>21</option>
                    <option value='22'>22</option>
                    <option value='23'>23</option>
                    <option value='24'>24</option>
                    <option value='25'>25</option>
                    <option value='26'>26</option>
                    <option value='27'>27</option>
                    <option value='28'>28</option>
                    <option value='29'>29</option>
                    <option value='30'>30</option>
                    <option value='31'>31</option>
                </select>
                <select id="month" name="Month">
                    <option value="Month">Month</option>
                    <option value='01'>Jan</option>
                    <option value='02'>Feb</option>
                    <option value='03'>Mar</option>
                    <option value='04'>Apr</option>
                    <option value='05'>May</option>
                    <option value='06'>Jun</option>
                    <option value='07'>Jul</option>
                    <option value='08'>Aug</option>
                    <option value='09'>Sep</option>
                    <option value='10'>Oct</option>
                    <option value='11'>Nov</option>
                    <option value='12'>Dec</option>
                </select>
                <select id="year" name="Year">
                    <option value="Year">Year</option>
                    <option value='2021'>2021</option>
                    <option value='2020'>2020</option>
                    <option value='2019'>2019</option>
                    <option value='2018'>2018</option>
                    <option value='2017'>2017</option>
                    <option value='2016'>2016</option>
                </select>
            </div>
        </div>  

        <!------Input Notes------->
        <div class="row-content">
            <label class="label text" for="notes">Notes</label>
            <textarea id="notes" class="input" name="note" style="height:100px;" [(ngModel)]="employeeData.note"></textarea>
        </div>   

        <!------Buttons----->
        <div class="buttonParent">
            <a class="resetButton button cancelButton" routerLink="/home">Cancel</a>
            <div class="submit-reset">
                <button type="submit" class="button submitButton" id="submitButton">Submit</button>
                <button type="reset" class="resetButton button" id="resetButton">Reset</button>
            </div>
        </div> 
    </form>    
</div>  
