<div class="main-content">
    <div class="header-content">
        <div class="emp-detail-text">
            Employee Details
            <div class="emp-count">{{employeeCount}}</div>
        </div>
        <a class="add-button" routerLink="/add">
            <img src="../assets/icons/add-24px.svg" alt="">Add User
        </a>
    </div>
    <div class="table-main">
        <table id ="display" class="table">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Gender</th>
                <th>Department</th>
                <th>Salary</th>
                <th>Start Date</th>
                <th>Actions</th>
            </tr>
            <tr *ngFor="let employee of employeeDetails">
                <td>
                    <img class="profile" src={{employee.profilePic}} alt="">
                </td>
                <td>{{employee.empName}}</td>
                <td>{{employee.empGender}}</td>
                <td>
                    <div class="dept-label" *ngFor="let department of employee.department">
                        {{department}}
                    </div>
                </td>
                <td>{{employee.empSalary}}</td>
                <td>{{employee.startDate}}</td>
                <td>
                    <img id={{employee.empId}} (click)="remove(employee.empId)"
                        src="../assets/icons/delete-black-18dp.svg"
                        alt="delete">
                    <img id={{employee.empId}} onclick="update(this)"
                        src="../assets/icons/create-black-18dp.svg" alt="edit">
                </td>
            </tr>
        </table>  
    </div>
</div> 
