<div class="main-content">
    <div class="header-content">

        <div class="emp-detail-text">
            Employee Details

            <!--Returns the employee count from the database-->
            <div class="emp-count">{{employeeCount}}</div>
        </div>

        <!--Add button
            When clicked the add component page is rendered.
        -->
        <a class="add-button" routerLink="/addform">
            <img src="../assets/icons/add-24px.svg" alt="">Add User
        </a>
    </div>

    <!--Contains the table structure of the employee details
        When the get method is hit in the HTTP server, the employee details get populated in the tabular form.
    -->
    <div class="table-main">
        <table id ="display" class="table">
            <tr>
                <!--Table header-->
                <th></th>
                <th>Name</th>
                <th>Gender</th>
                <th>Department</th>
                <th>Salary</th>
                <th>Start Date</th>
                <th>Actions</th>
            </tr>

            <!--*ngFor : iterates inside the employeeDetails object list, and returns the employee object value-->
            <tr *ngFor="let employee of employeeDetails">
                <td>
                    <img class="profile" src={{employee.profilePic}} alt="">
                </td>
                <td>{{employee.empName}}</td>
                <td>{{employee.empGender}}</td>
                <td>
                    <div class="dept-label" *ngFor="let department of employee.department">
                        {{department}}
                    </div>
                </td>
                <td>&#8377; {{employee.empSalary}}</td>
                <td>{{employee.startDate | dateFormatPipe}}</td>

                <!--To update and delete an employee from the database-->
                <td>
                    <img id={{employee.empId}} (click)="remove(employee.empId)"
                        src="../assets/icons/delete-black-18dp.svg"
                        alt="delete">
                    <img id={{employee.empId}} (click)="update(employee)" 
                        src="../assets/icons/create-black-18dp.svg" alt="edit">
                </td>
            </tr>
        </table>
    </div>
</div>
