<!--Message Box-->
<div mat-dialog-content>
    <div class="content">
        <div *ngIf="description == 'Updated by ID : Employee Payroll Details'" class="success-text-content">    
            <img src="../assets/images/success.png" alt="Success Image">
            <p class="text-center confirm-description">{{description}}</p>    
        </div>  
        <div *ngIf="description == 'Added Employee Payroll Details'" class="success-text-content">  
            <img src="../assets/images/success.png" alt="Success Image">  
            <p class="text-center confirm-description">{{description}}</p>    
        </div> 
        <div *ngIf="description == 'Deleted by ID : Employee Payroll Details'" class="success-text-content">    
            <img src="../assets/images/success.png" alt="Success Image">
            <p class="text-center confirm-description">{{description}}</p>    
        </div> 
        <div *ngIf="description == 'StartDate should not be future date.'" class="success-text-content">    
            <img src="../assets/images/error.png" alt="Error Image">
            <p class="text-center confirm-description">{{description}}</p>    
        </div> 
        <div *ngIf="description == 'Department is empty'" class="success-text-content">    
            <img src="../assets/images/error.png" alt="Error Image">
            <p class="text-center confirm-description">{{description}}</p>    
        </div> 
        <div *ngIf="description == '1. Profile Pic required \n 2. Gender required \n 3. Min Wage should be more than 10000'" 
                class="success-text-content" style="white-space: pre-line">    
            <img src="../assets/images/error.png" alt="Error Image">
            <p class="text-center confirm-description">{{description}}</p>    
        </div>
    </div>  
</div>